#tracingyou-gui {
    position: fixed;
    top: 0;
    right: 0;
}

#tracingyou-gui {
    opacity: 0.25;
    transition: opacity 0.3s;
}

#tracingyou-gui:hover {
    opacity: 1;
}

#tracingyou-gui input {
    opacity: 0;
    transition: opacity 0.9s;
}

#tracingyou-gui:hover input {
    opacity: 1;
}

#tracingyou-gui a {
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 0;
    background: gray;
    color: rgba(100%,100%,100%,0);

    line-height: 2em;
    text-align: center;
    font-family: sans-serif;

    transition: color 0.9s, border-radius 0.5s ;
}

#tracingyou-gui:hover a {
    color: white;
}

#tracingyou-gui input:checked + a {
    background: red;
    border-radius: 50%;
}


