#tracingyou-gui {
    position: fixed;
    top: 0;
    right: 0;
    height: 2.2em;
    padding: .1em;
}


#tracingyou-gui a {
    display: inline-block;
    font-size: 70%;
    text-decoration: none;
    font-family: sans-serif;

    position: relative;
    opacity: 0;
    top: 0;
    right: -7em;
    transition: all 0.5s;
}

#tracingyou-gui:hover a {
    right: 0em;
    opacity: 1;
}


#tracingyou-gui input {
    display: none;
}


#tracingyou-gui label {
    display: inline-block;
    width: 2em;
    height: 2em;
    color: transparent;

    opacity: 0.25;
    background: gray;
    border-radius: 0;
    transition: all 0.5s ;
}

#tracingyou-gui input:checked + label {
    background: red;
    border-radius: 50%;
}

#tracingyou-gui:hover label {
    opacity: 1;
}

